body {
    /*font-family: 'Parisienne', cursive;*/
}

h1 {
    text-align: center;
    font-size:425%;
}

h2{
    text-align:center;
}

label,td {
    text-align: left;
    font-size: 200%;
}

#giftpackage{

  width: 40%;
  margin-left:auto;
  margin-right:auto;
  border: 3px;
  padding: 5px;
  text-align:center;
  

}
#info{
  margin-left:5px;
}
#giftchoices{
  margin:inherit;
}




